{% extends 'base/main.html' %}
{% block content %}
    <div class="container mx-auto">
      {% if request.user.is_authenticated %}
        <div class="card mt-5">
          <div class="card-body">
            <p class="card-text text-center">You're not allowed here! Go back <a href="{% url 'home' %}" class="text-decoration-none">home</a> </p>
          </div>
        </div>
      {% else %}
      <div class="card mt-5">
        <div class="card-header">
          <h5 class="card-title text-center">Register</h5>
        </div>
        <div class="card-body">
            {% for message in messages %}
            <p class="card-text text-center text-danger">            
              {{ message }}
            </p>
            {% endfor %}
          <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
              <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required>
              <label for="password1">Password</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" required>
              <label for="password2">Confirm password</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
              <label for="email">Email</label>
            </div>
            <input type="submit" class="btn btn-primary" value="Register">
          </form>
        </div>
        <div class="card-body mb-3">
          <p class="card-text text-center">Already have an account? <a href="{% url 'login' %}" class="text-decoration-none">Log in</a></p>
        </div>
      </div>
      {% endif %}
    </div>
{% endblock %}